.banner-section{
    padding: 5rem 5rem 2rem 5rem;
}

.dp-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
}

.top-part{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left-section{
    display: flex;
    height: fit-content;
    justify-content: center;
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.poster{
    width: 325px;
    height: 400px;
    border-radius: 20px;
}

.poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.full-desc{
    padding: 3rem 0 2rem 0;
}

.h-title{
    font-size: 30px;
    margin-top: -10px;
    text-align: center;
}

.slog{
    font-size: 15px;
    margin-top: -10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.449);
    font-weight: 700;
}

.sys-req{
    padding: 5rem 5rem;
}

.platform{
    background-color: rgba(240, 248, 255, 0.315);
    padding: 2px 10px;
    border-radius: 10px;
}

.genres{
    display: flex;
    gap: 15px;
}

.video-player{
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 6rem;
}

.video-player video{
    margin-top: 2rem;
    max-height: 90vh;
}

.galary{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 2rem;
}

.ss-section{
    background-color: rgba(255, 255, 255, 0.041);
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ss{
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    max-width: 70%;
}

.ss:hover{
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .banner-section{
        padding: 5rem 2rem 1rem 2rem;
    }

    .top-part{
        display: flex;
        flex-direction: column;
    }
    .poster{
        width: 300px;
        height: 300px;
    }

    .right-section{
        margin-top: 20px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .platform{
        font-size: 12px;
        padding: 2px 4px;
        height: fit-content;
    }

    .platforms{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .h-title{
        text-align: center;
        width: 100%;
    }

    .ss-section{
        padding: 3rem 0 3rem 0;
    }

    .video-player{
        padding: 2rem 2rem;
    }

    .sys-req{
        padding: 5rem 2rem;
    }
}